.tile {
  background-color: rgba(255,255,255,0.9);
  border-radius: 5px;
  float: left;
  width: 200px;
  padding: 3px;
  margin: 5px;
}

.tile_pic img {
  width: 200px;
  height: 200px;
}

#add {
  
  
}