<%= stylesheet_link_tag "index.css" %>
<h1>All Things Near App Academy</h1>

<% @reviews.each do |review| %>
<div class="tile">
    <%= link_to review.restaurant, review_path(review), 
    class: 'review_title', id: "review_#{review.id}" %>
</div>

<% end %>
<div style="clear: both" />
<div id="add">
<%= link_to "Add a Restaurant", new_review_path, class: "new_review" %>
</div>
